<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoarseImitationNetEase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>779C34A51E1E445E0079EBDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>779C34BE1E1E445E0079EBDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>779C34C91E1E445E0079EBDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
